// // Variable overrides second
$white: #fff;
$gray: #DFE1E2;
$gray-dark: #636C72;
$black-light: #252B2F;
$black: #0D1418;
$red-light: #E23131;
$red: #CC0000;
$red-dark: #9E0000;
$red-text: #EE1414;

$white-opacity: rgba(255, 255, 255, .5);
$red-opacity: rgba(226, 49, 49, 50%);

$bg-black: #1C222E;
$bg-gray: #f4f4f4;
$bg-gray-dark: #efefef;

$enable-shadows: true;
$prefix: "alc-";

$container-max-widths: (
  xxxs: 100%,
  xxs: 100%,
  xs: 100%,
  sm: 504px,
  md: 714px,
  lg: 954px,
  xl: 1314px
);

$grid-breakpoints: (
  xxxs: 0,
  xxs: 360px,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1320px,
  xxl: 1920px,
);

$grid-gutter-width: 1.5rem;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10px: 10px,
  15px: 15px,
  20px: 20px,
  30px: 30px,
  40px: 40px,
  50px: 50px,
  60px: 60px,
  100px: 100px
);
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10px: 10px,
  20px: 20px,
  30px: 30px,
  45px: 45px,
  50px: 50px,
  60px: 60px,
  80px: 80px,
  240px: 240px
);