// // Variable overrides second
$white: #fff;
$gray: #DFE1E2;
$gray-dark: #636C72;
$black: #0D1418;
$red-light: #E23131;
$red: #CC0000;
$red-dark: #9E0000;

$enable-shadows: true;
$prefix: "alc-";

$container-max-widths: (
  xxs: 100%,
  xs: 100%,
  sm: 504px,
  md: 714px,
  lg: 954px,
  xl: 1314px
);

$grid-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1320px,
  xxl: 1920px,
);

$grid-gutter-width: 1.5rem;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  20px: 20px,
  30px: 30px,
  50px: 50px
);
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  20px: 20px,
  30px: 30px,
  60px: 60px
);