.hero {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 620px;
    margin-bottom: 80px;
    background-repeat: no-repeat, no-repeat;
    background-size: 750px, cover;
    background-position: calc(50% + 300px) bottom, center bottom;

    .title-hero-group {
        padding-top: 120px;
    }

    &.mission-hero {
        background-image: url('/images/hero/hero-bg-img-1.webp'), url('/images/hero/hero-bg-1.png');
    }

    &.esg-hero {
        background-image: url('/images/hero/hero-bg-img-2.webp'), url('/images/hero/hero-bg-1.png');
    }

    &.islamic-accounts-hero {
        background-image: url('/images/hero/hero-bg-img-3.webp'), url('/images/hero/hero-bg-1.png');
    }

    &.trade-robot-hero {
        background-image: url('/images/hero/hero-bg-img-4.webp'), url('/images/hero/hero-bg-1.png');
    }

    &.account-types-hero {
        background-image: url('/images/hero/hero-bg-img-5.webp'), url('/images/hero/hero-bg-1.png');
    }

    &.platform-hero {
        background-image: url('/images/hero/hero-bg-img-6.webp'), url('/images/hero/hero-bg-1.png');
    }

    &.honors-hero {
        background-image: url('/images/hero/hero-bg-img-7.webp'), url('/images/hero/hero-bg-1.png');
    }
    
    &.documents-hero {
        background-image: url('/images/hero/hero-bg-img-8.webp'), url('/images/hero/hero-bg-1.png');

        .title-hero-group {
            padding-top: 74px;

            .text {
                max-width: 700px;
            }
        }
    }

    &.data-base-hero {
        background-image: url('/images/hero/hero-bg-img-9.webp'), url('/images/hero/hero-bg-1.png');
    }

    @media (max-width: 1320px) {
        min-height: 530px;
        background-repeat: no-repeat, no-repeat;
        background-size: 500px, cover;
        background-position: calc(50% + 300px) bottom, center bottom;

        .title-hero-group {
            padding-top: 75px;
        }

        &.documents-hero {
            .title-hero-group {
                padding-top: 55px;
    
                .text {
                    max-width: 650px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        min-height: 760px;
        background-repeat: no-repeat, no-repeat;
        background-size: 500px, cover;
        background-position: 50% bottom, center bottom;

        .title-hero-group {
            padding-top: 50px;
        }

        &.mission-hero {
            background-image: url('/images/hero/hero-bg-img-1.webp'), url('/images/hero/hero-bg-1-tablet.png');
        }

        &.esg-hero {
            background-image: url('/images/hero/hero-bg-img-2.webp'), url('/images/hero/hero-bg-1-tablet.png');
        }

        &.islamic-accounts-hero {
            background-image: url('/images/hero/hero-bg-img-3.webp'), url('/images/hero/hero-bg-1-tablet.png');
        }

        &.trade-robot-hero {
            background-image: url('/images/hero/hero-bg-img-4.webp'), url('/images/hero/hero-bg-1-tablet.png');
        }

        &.account-types-hero {
            background-image: url('/images/hero/hero-bg-img-5.webp'), url('/images/hero/hero-bg-1-tablet.png');
        }

        &.platform-hero {
            background-image: url('/images/hero/hero-bg-img-6.webp'), url('/images/hero/hero-bg-1-tablet.png');
        }

        &.honors-hero {
            background-image: url('/images/hero/hero-bg-img-7.webp'), url('/images/hero/hero-bg-1-tablet.png');
        }

        &.documents-hero {
            background-image: url('/images/hero/hero-bg-img-8.webp'), url('/images/hero/hero-bg-1-tablet.png');
        }

        &.data-base-hero {
            background-image: url('/images/hero/hero-bg-img-9.webp'), url('/images/hero/hero-bg-1-tablet.png');
        }
    }

    @media (max-width: 768px) {
        min-height: 710px;
        margin-bottom: 60px;
        background-repeat: no-repeat, no-repeat;
        background-size: 450px, cover;
        background-position: 50% bottom, center bottom;

        .title-hero-group {
            padding-top: 50px;
        }

        &.mission-hero {
            background-image: url('/images/hero/hero-bg-img-1.webp'), url('/images/hero/hero-bg-1-mobile.png');
        }

        &.esg-hero {
            background-image: url('/images/hero/hero-bg-img-2.webp'), url('/images/hero/hero-bg-1-mobile.png');
        }

        &.islamic-accounts-hero {
            background-image: url('/images/hero/hero-bg-img-3.webp'), url('/images/hero/hero-bg-1-mobile.png');
        }

        &.trade-robot-hero {
            background-image: url('/images/hero/hero-bg-img-4.webp'), url('/images/hero/hero-bg-1-mobile.png');
        }

        &.account-types-hero {
            background-image: url('/images/hero/hero-bg-img-5.webp'), url('/images/hero/hero-bg-1-mobile.png');
        }

        &.platform-hero {
            background-image: url('/images/hero/hero-bg-img-6.webp'), url('/images/hero/hero-bg-1-mobile.png');
        }

        &.honors-hero {
            background-image: url('/images/hero/hero-bg-img-7.webp'), url('/images/hero/hero-bg-1-mobile.png');
        }

        &.documents-hero {
            background-image: url('/images/hero/hero-bg-img-8.webp'), url('/images/hero/hero-bg-1-mobile.png');
        }

        &.data-base-hero {
            background-image: url('/images/hero/hero-bg-img-9.webp'), url('/images/hero/hero-bg-1-mobile.png');
        }
    }

    @media (max-width: 480px) {
        min-height: 580px;
        margin-bottom: 40px;
        background-repeat: no-repeat, no-repeat;
        background-size: 330px, cover;
        background-position: 50% bottom, center bottom;

        .title-hero-group {
            padding-top: 50px;
        }

        &.documents-hero {
            .title-hero-group {
                padding-bottom: 140px;
            }
        }
    }
}