.info {
    hr {
        background-color: $gray-dark;
        border-color: $gray-dark;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    img {
        max-width: 100%;
    }

    &__description {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        &--divider {
            margin-left: 50px;
            margin-right: 50px;
            height: 100%;
            width: 2px;
            background-color: $gray-dark;
        }

        @media (max-width: 1320px) {
            &--divider {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        @media (max-width: 991px) {
            width: 100%;
            justify-content: space-between;

            &--divider {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    &__banks--item {
        padding: 16px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 10%);

        img {
            width: 100%;
        }

        @media (max-width: 768px) {
            padding: 12px;
        }

        @media (max-width: 480px) {
            padding: 4px;
        }
    }

    &__bg-image-block {
        &.--bg-1 {
            border-radius: 30px;
            height: 500px;
            width: 100%;
            background-image: url('/images/info/image-6.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &.--bg-2 {
            border-radius: 30px;
            height: 500px;
            width: 100%;
            background-image: url('/images/info/image-10.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &.--bg-3 {
            border-radius: 30px;
            height: 370px;
            width: 100%;
            background-image: url('/images/info/image-12.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        @media (max-width: 991px) {
            &.--bg-1 {
                height: 400px;
            }
        }

        @media (max-width: 768px) {
            &.--bg-1 {
                height: 250px;
            }
        }

        @media (max-width: 480px) {
            &.--bg-1 {
                height: 180px;
            }
        }
    }

    @media (max-width: 768px) {
        hr {
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }

    @media (max-width: 480px) {
        hr {
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
}