.banner {
    &-box {
        padding: 60px;
        border-radius: 30px;
        position: relative;

        &.--bg-image-1 {
            background-image: url('/images/banner/image-1.png'), linear-gradient(180deg, #FF4848 0%, #CC0000 100%);
            background-repeat: no-repeat;
            background-position: bottom right, center;
            background-size: 290px, contain;
        }
        &.--bg-image-2 {
            background-image: url('/images/banner/image-2.png'), linear-gradient(180deg, #FF4848 0%, #CC0000 100%);
            background-repeat: no-repeat;
            background-position: bottom right, center;
            background-size: 270px, contain;
        }
        &.--bg-image-3 {
            background-image: url('/images/banner/image-3.png'), linear-gradient(180deg, #FF4848 0%, #CC0000 100%);
            background-repeat: no-repeat;
            background-position: bottom right, center;
            background-size: 270px, contain;
        }

        @media (max-width: 991px) {
            &.--bg-image-1 {
                background-size: 185px, contain;
            }
        } 

        @media (max-width: 768px) {
            padding: 30px;
            
            &.--bg-image-1 {
                background-size: 185px, contain;
                padding: 30px 30px 120px 30px;
            }
            &.--bg-image-2 {
                background-size: 200px, contain;
            }
            &.--bg-image-3 {
                background-size: 200px, contain;
            }
        } 

        @media (max-width: 480px) {
            padding: 30px 20px;

            &.--bg-image-1 {
                background-size: 125px, contain;
                padding: 30px 20px 135px 20px;
            }
        } 
    }
}