.bg-block {
    padding: 50px;
    border-radius: 30px;
    
    &.--white {
        background-color: $white;
    }

    img {
        width: 100%;
    }

    @media (max-width: 1320px) {
        padding: 40px;
    }

    @media (max-width: 768px) {
        padding: 30px;
    }

    @media (max-width: 480px) {
        padding: 20px;
    }
}