.btn {
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    padding: 12px 30px;
    min-height: 52px;
    border-radius: 30px;
    transition: opacity .3s;

    &:not(&.btn-outline) {
        box-shadow: none;
        background-color: $white;
        color: $black;
        outline: 4px solid $white;
    }

    &.btn-outline {
        box-shadow: none;
        background-color: transparent;
        color: $white;
        outline: 4px solid $white;
    }

    &:hover {
        color: $black;
        background-color: $white;
        opacity: .8;
    }

    &.btn-red {
        &:not(&.btn-outline) {
            background: linear-gradient(180deg, #FF4848 0%, #CC0000 100%);
            outline: 4px solid $red-opacity;
            color: $white;
        }
        &.btn-outline {
            box-shadow: none;
            background: transparent;
            color: $white;
            outline: 1px solid $red-opacity;
        }
    }

    &.btn-white {
        &:not(&.btn-outline) {
            background: $white;
            outline: 4px solid $white-opacity;
            color: $red;
        }
        &.btn-outline {
            box-shadow: none;
            background: $white;
            color: $red;
            outline: 1px solid $white-opacity;
        }
    }

    &.btn--sm {
        border-radius: 15px;
        font-size: 14px;
        line-height: 140%;
        font-weight: 500;
        padding: 9px 18px;
        min-height: 40px;
        border: 1px solid $white;
    }

    &:active {
        box-shadow: none !important;
    }
    
    &.--responsive {
        @media (max-width: 480px) {
            width: 100%;
        }
    }

    &.--no-wrap {
        white-space: nowrap;
    }
}