.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    gap: 15px;
    padding: 30px;
    border-radius: 20px;
    background-color: $white;
    position: relative;

    &:not(&.--no-border) {
        border: 1px solid $gray;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__banner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 160px;
        }
    }

    &__preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &--image {
            height: 265px;
            width: auto;
        }
    }

    &--index {
        font-size: 30px;
        line-height: 120%;
        font-weight: 500;
        color: $gray;

        &.--absolute {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }

    &--icon {
        width: 50px;
        height: 50px;
        min-width: 50px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, #FF4848 0%, #CC0000 100%);
    }

    &--title {
        margin-bottom: 5px;
    }

    @media (max-width: 1320px) {
        padding: 20px;

        &__content {
            &__banner {
                gap: 50px;
            }
        }

        &--index {
            &.--absolute {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media (max-width: 991px) {
        &.--responsive {
            flex-direction: row;
            gap: 20px;
        }

        &__content {
            &__banner {
                flex-direction: column;
                align-items: flex-start;
                gap: 50px;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 15px;

        &--index {
            &.--absolute {
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }
    }
}